.hero {
    background-image: url('./assets/bgfull-topo.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'logo logo' 'main tablet' 'main  tablet';
}

#linkdnwld {
    text-decoration: none;
    width: 250px;
    background-color: rgba(31, 112, 29, 1);
    border: 1px rgba(31, 112, 29, 1) solid;
    font-size: 19px;
    color: white;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.logo-img {
    text-align: left;
    margin: 0 auto;
}

#header-img {
    width: 30%;
}

.main {
    padding: 5vh;
    grid-area: main;
    text-align: left;
    margin-left: 35px;
    width: 380px;
}

.main h1 {
    padding-bottom: 30px;
}

.tablet {
    grid-area: tablet;
    text-align: center;
    margin-top: -70px;
}

.img-ebook {
    width: 350px;
    height: auto;
}

@media only screen and (max-width: 650px) {
    #linkdnwld {
        font-size: 15px;
    }
    .main {
        margin: 0;
        padding: 0;
        width: 75%;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tablet {
        display: none;
    }
    #header-img {
        width: 250px;
        height: auto;
    }
}

@media only screen and (max-width: 480px) {
    #linkdnwld {
        font-size: 12px;
    }
}